body{
    margin:0;

}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: red;
    font-family: sans-serif;

}

.header, .block-one, .block-two, .block-three, .block-four, .footer{
    padding: 0 64px;
}


.header{
background-color: #1F2937;
min-height: 60px;
flex-shrink: 0;
color: white;
background-color: green;

display: flex;
justify-content: space-between;
align-content: center;
align-items: center;

}

.header-logo{
    font-size: 24px;
    font-weight: bold;
}


.header ul{
    list-style-type:none;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap:16px;
    font-size: 18px;
}

.header ul a{
    text-decoration: none;
    color: white;

}



 .block-one, .block-two, .block-three, .block-four{
    height: 100%;

} 


.block-one{
    background-color: #1F2937;
    
}

.block-two{
    background-color: white;
}

.block-three{
    background-color: #E5E7EB;
}

.block-four{
    background-color: white;
}


.footer{
    background-color: #1F2937;
    height: 100px;
    flex-shrink: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}