body{
    margin:0;

}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: red;
    font-family: sans-serif;
}

.header, .block-one, .block-two, .block-four, .footer{
    padding: 0 5%;
}

.block-three{
    padding: 0 20%;
}



.header{
background-color: #1F2937;
min-height: 60px;
flex-shrink: 0;

display: flex;
justify-content: space-between;
align-content: center;
align-items: center;

}

.header-logo{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}


.header ul{
    list-style-type:none;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap:16px;
    font-size: 18px;
}

.header ul a{
    text-decoration: none;
    Color: #E5E7EB

}

.block-one{
    background-color: #1F2937;
    display: flex;

    flex-wrap: wrap;
    
}

.block-one{
    padding-top: 64px;
    padding-bottom: 64px;
}

.block-two{
    margin: 64px 0;
} 

.block-three{
    padding-top: 96px;
    padding-bottom: 96px;
} 

.block-four{
    margin: 96px 0;
}

.left, .right{
    display: flex;
    flex-direction: column;
    flex:1;

}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.left button{
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 12px 0;
    font-weight: 800;
    width: 100px;
    font-size: 18px;
}



.placeholder{
    display: flex;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
    flex:1;
    padding: 16px;
    text-align: center;
    color: #E5E7EB;

    min-height: 180px;
    min-width: 230px;

  
}


.block-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
}

.info-text{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 32px;
}


.boxes{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap:48px;
}

.box{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}

.illustration{
    width: 160px;
    height: 160px;
    border: 4px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 24px;
    
   
}

.subtext{
    color:#4B5563;
    font-size: 18px;
    text-align: center;
    padding: 8px;

    max-width: 164px;
    max-height: 164px;
}



.block-three{
    display: flex; 

    flex-direction: column; 
    


    background-color: #E5E7EB;

   
    color: #1F2937;

}


.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author{
    display: flex; 
    justify-content: flex-end;

    font-size: 24px;
    font-weight: 800;



}


.block-four{
    background-color: white;
}

.blue{
background-color: #3882F6;
color: white;

display: flex; 
justify-content: space-between;
padding: 48px 128px;

border-radius: 8px;
}

.call-text{
    display: flex; 
    flex-direction: column;
}


.call{
    font-size: 24px;
    font-weight: 800;

}

.description{

}

.blue button{
    color: white;
    background-color: #3882F6;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    font-weight: 800;
    font-size: 18px;

    padding: 0 24px;
}





.footer{
    background-color: #1F2937;
    height: 100px;
    flex-shrink: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}